*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit; }

@font-face {
  font-family: "Universal Fruitcake";
  src: url("../fonts/UNIVERSALFRUITCAKE.ttf"); }

@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam.ttf"); }

@font-face {
  font-family: "Bauer Bodoni Std";
  src: url("../fonts/BauerBodoniStd.otf"); }

.header-title {
  font-family: "Bauer Bodoni Std";
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 15rem;
  letter-spacing: 1rem;
  position: absolute;
  left: 5%;
  top: -9rem; }

.header-subtitle {
  font-family: "Universal Fruitcake";
  color: white;
  font-size: 3rem;
  width: 72.5%;
  margin-left: 10%;
  padding-left: 2.5%;
  border-left: 0.3rem solid #f05d08; }

@keyframes overlay-anim {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.header-image {
  background-image: url("../img/EQ.jpg");
  background-size: cover;
  height: 100%; }

.main {
  position: relative;
  background-color: black; }

.eq-answer {
  font-family: "Gelasio";
  color: white;
  font-size: 3rem;
  padding-left: 12.5%;
  width: 72.5%;
  font-size: 2.75rem;
  margin-top: 7.5rem;
  padding-bottom: 7.5rem; }

.nav-cont {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  z-index: 1;
  padding: 2% 5%;
  position: absolute;
  width: 100%; }

.nav-cont-left {
  flex-grow: 1; }

.nav-cont-right {
  flex-grow: 1; }

.nav-cont-right-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.nav-link-cont {
  float: right; }

.nav-link {
  display: inline-block;
  margin-left: 5rem;
  font-family: "Universal Fruitcake";
  color: white;
  font-size: 1.5rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out; }

.nav-link:hover {
  border-bottom: 0.2rem solid white; }

.nav-title {
  font-family: "Kalam";
  font-size: 3.5rem;
  color: white; }
