.clay {
    background-image: url('../img/henry-clay.jpg');
}

.webster {
    background-image: url('../img/daniel-webster.jpg');
}

.calhoun {
    background-image: url('../img/john-c-calhoun.jpg');
}