@font-face {
    font-family: "Universal Fruitcake";
    src: url('../fonts/UNIVERSALFRUITCAKE.ttf')
}

@font-face {
    font-family: "Kalam";
    src: url('../fonts/Kalam.ttf');
}

@font-face {
    font-family: "Bauer Bodoni Std";
    src: url('../fonts/BauerBodoniStd.otf');
}

.header-title {
    font-family: "Bauer Bodoni Std";
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 15rem;
    letter-spacing: 1rem;
    position: absolute;
    left: 5%;
    top: -9rem;
}

.header-subtitle {
    font-family: "Universal Fruitcake";
    color: white;
    font-size: 3rem;
    width: 72.5%;
    margin-left: 10%;
    padding-left: 2.5%;
    border-left: 0.3rem solid #f05d08;
}