.header-image {
    background-size: cover;
    height: 100%;
}

.main {
    background-color: black;
    position: relative;
    padding-bottom: 10rem;
    padding-top: 15rem;
}

.header-text {
    font-family: "Gelasio";
    font-size: 2.5rem;
    color: white;
    padding-top: 4rem;
    width: 72.5%;
    padding-left: 12.5%;
}