.header-image {
    background-image: url('../img/triumvirate.jpg');
    background-size: cover;
    height: 100%;
}

.main {
    background-color: black;
    padding-top: 15rem;
    padding-bottom: 10rem;
    position: relative;
}

.triumvirate-text {
    font-family: "Gelasio";
    font-size: 2.5rem;
    color: white;
    padding-left: 12.5%;
    width: 72.5%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.triumvirate-image {
    padding-left: 12.5%;
    width: 72.5%;
}

